
  <div style="width:70%; text-align:center" class="div">
    <div class="row">
    <h1>increasing Data Flow Graph</h1>
  <canvas
        baseChart
        [chartType]="'line'"
        [datasets]="daily"
        [labels]="graphLabels"
        [options]="chartOptions"
        [legend]="true"
        (chartClick)="onChartClick($event)">
    </canvas>
<hr>
<app-decchart></app-decchart>
<hr>
<app-monthlygraph></app-monthlygraph>
<hr>
<app-decreasemonthly></app-decreasemonthly>
</div>
</div>
<router-outlet></router-outlet>

